@import '../../../mixins';

.promo-section {
    background-image: url('#{$img-path}/_promo/promo-bg-desktop.jpg');
    background-color: $inverse-primary-bg-color;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;

    &__container {
        display: flex;
        align-items: center;
        min-height: 100vh;
        max-width: 1440px;
        padding-top: $desktop-header-height;
        padding-bottom: 20px;

        @include for-mobile {
            padding-bottom: 0;
        }
    }

    &__content {
        @include for-mobile {
            width: 100%;
        }
    }

    &__title {
        @include heading1;
        position: relative;
        z-index: 5;
        max-width: 564px;
        color: $inverse-primary-txt-color;
        text-transform: capitalize;
        margin: 0 0 0.3333em;
    }

    &__subtitle {
        @include heading4;
        position: relative;
        z-index: 5;
        max-width: 564px;
        color: $inverse-primary-txt-color;
        margin: 0 0 1.6em;
    }

    &__btn-list {
        display: flex;
        align-items: center;
        gap: 0 30px;
        max-width: 470px;
        position: relative;
        z-index: 5;

        &-item {
            @include sidePadding(56px);
            font-size: 14px;

            @include for-mobile {
                @include sidePadding(28px);
            }

            @include for-small-mobile {
                @include sidePadding(18px);
            }
        }
    }

    &__accessory {
        position: absolute;
        max-width: 43%;
        right: 1%;
        bottom: 0%;
        z-index: 1;

        @include for-mobile {
            max-width: 30%;
        }

        &-img {
            display: block;
            max-width: 100%;
        }
    }
}
