{% extends "general/base.njk" %}

{% from "ui/icon.njk" import icon with context %}

{% from "ui/buttons.njk" import button %}

{% from "ui/animal_card.njk" import animal_card %}

{% block title %}
UI
{% endblock %}

{% block body %}
  <div class="ui-section">
    <div class="container">
      <h1>UI</h1>

      <h2>Buttons</h2>

    <div class="ui-element-group">
      {{ button('Button') }}
      {{ button('Secondary Button', { 'type': 'secondary' }) }}
      {{ button("Donate", { "size": "s" }) }}
     
{{ button("Donate", { 'type': 'secondary', "size": "s", "icon": icon(type='donate', color='inverse', size='small') }) }}
      {{ button('Button Link', { "tag": "a", "href": "#" }) }}
      {{ button(
        'Button Link Small',
        {
          "tag": "a",
          "href": "#",
          "size": "s",
          "attributes": { "type": "submit" }
        }
      )}}
      </div>
    </div>

    <div class="ui-inverse-block">
      <div class="container">
        <div class="ui-element-group">
          {{ button('Button') }}
          {{ button('Secondary Button', { 'type': 'secondary' }) }}
          {{ button("Donate", { "size": "s" }) }}
          {{ button('Button Link', { "tag": "a", "href": "#" }) }}
          {{ button(
            'Button Link Small',
            {
              "tag": "a",
              "href": "#",
              "size": "s",
              "attributes": { "type": "submit" }
            }
        )}}
        </div>
      </div>
    </div>

    <div class="container">
      <h2>Icons</h2>

    <div class="ui-element-group">
      {{ icon(type='donate', color='accent', size='small')}}
      {{ icon(type='phone', color='accent', size='medium')}}
      {{ icon(type='pin', color='accent', size='medium')}}
      {{ icon(type='email', color='accent', size='medium')}}

      <div class="ui-inverse-block--icons">
       {{ icon(type='donate', color='inverse', size='small')}}
       {{ icon(type='phone', color='secondary-inverse', size='medium')}}
       {{ icon(type='pin', color='secondary-inverse', size='medium')}}
       {{ icon(type='email', color='secondary-inverse', size='medium')}}
     
      </div>
    </div>

    <div class="container">
      <h2>Controls</h2>

      <div class="ui-element-group ui-element-group__column">
        <ul class="filter">
          <li class="filter__item">
            <a class="filter__link" href="#">
            All
          </a>
          </li>
          <li class="filter__item">
            <a class="filter__link" href="#">
            Dogs
          </a>
          </li>
          <li class="filter__item">
            <a class="filter__link" href="#">
            Cats
          </a>
          </li>
        </ul>

        <ul class="param-list">
          <li class="param-list__item">
          Sex
        </li>
          <li class="param-list__item">
          Age
        </li>
          <li class="param-list__item">
          Size
        </li>
        </ul>
      </div>

      <h2> Elements</h2>

      <div class="ui-element-group">
        {{animal_card({
          'type': 'dog',
          'name': 'Spot',
          'sex': 'Male',
          'age': '18 months',
          'size': 'Large',
          'img_src': '/upload/animal-cards/card-01.jpg',
          'img_alt': 'Spot'
          })
         }}
      </div>

    </div>

    <div class="container">
      <h2>Typography</h2>
      <h1>Title h1</h1>
      <h2>Title h2</h2>
      <h3>Title h3</h3>
      <h4>Title h4</h4>
      <h5>Title h5</h5>
      <h6>Title h6</h6>
      <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </p>
      <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </p>
      <ul>
        <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
        <li>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</li>
        <li>When an unknown printer took a galley of type and scrambled it to make a type specimen book.</li>
      </ul>
      <ol>
        <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
        <li>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</li>
        <li>When an unknown printer took a galley of type and scrambled it to make a type specimen book.</li>
      </ol>
    </div>
  </div>
{% endblock %}