{% extends "general/base.njk" %}

{% block title %}
UI
{% endblock %}

{% block body %}
<div class="ui-section">
  <div class="container">
    <h1>Buttons</h1>

    <div class="ui-element-group">
      <button class="button" type="button">Button</button>
      <button class="button button--secondary" type="button">Button</button>
      <button class="button button--size-s" type="button">Donate</button>
      <a class="button" href="#">Button link</a>
      <a class="button button--size-s" href="#">Button link small</a>
    </div>
  </div>

  <div class="ui-inverse-block">
    <div class="container">
      <div class="ui-element-group">
        <button class="button" type="button">Button</button>
        <button class="button button--secondary" type="button">Button</button>
        <button class="button button--size-s" type="button">Donate</button>
        <a class="button" href="#">Button link</a>
        <a class="button button--size-s" href="#">Button link small</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
