{% extends "general/base.njk" %}

{% block title %}
UI
{% endblock %}

{% block body %}
<div class="container" style="padding-top: 100px; padding-bottom: 100px">
  <h1>Buttons</h1>
  <div style="display: flex; flex-wrap: wrap; gap: 15px;">
    <button class="button" type="button">Button</button>
    <button class="button button--size-s" type="button">Button small</button>
    <a class="button" href="#">Button link</a>
    <a class="button button--size-s" href="#">Button link small</a>
  </div>
  <h1>Controls</h1>
  <div style="display: flex; flex-direction: column; gap: 15px;">
   
  <ul class="filter">
    <li class="filter__item">
      <a class="filter__link href="#">
       All
       </a>
    
    </li>
     <li class="filter__item">
      <a class="filter__link href="#">
      Dogs
       </a>
    
    </li>
     <li class="filter__item">
      <a class="filter__link href="#">
      Cats
       </a>
    
    </li>
  </ul>

  <ul class="param-list">
    <li class="param-list__item">
      <a class="param-list__link href="#">
      Sex
       <div class="param-list__circle"></div>
       </a>
     
    
    </li>
     <li class="param-list__item">
      <a class="param-list__link href="#">
      Age
       <div class="param-list__circle"></div>
       </a>
    
    </li>
     <li class="param-list__item">
      <a class="param-list__link href="#">
      Size
     
       </a>
    
    </li>
  </ul>

  </div>
</div>
{% endblock %}
