{% extends "general/base.njk" %}

{% block title %}
The territory of goodness shelter
{% endblock %}

{% block body %}
{% include "pages/index/sections/promo_section.njk" %}
{% include "pages/index/sections/about_section.njk" %}
{% include "pages/index/sections/statistic_section.njk" %}
{% include "pages/index/sections/animals_section.njk" %}
{% endblock %}
