@import "../../mixins";

.ui-section {
  @include section;
}

.ui-element-group {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 30px 0;
}

.ui-inverse-block {
  color: $inverse-primary-txt-color;
  background: $inverse-primary-bg-color;
}

section {
  .title {
    text-align: center;
  }

  .sub-title {
    font-size: 20px;
    font-weight: 600;
    color: $accent-txt-color;

    @include for-tablet {
      font-size: 16px;
    }

    @include for-mobile {
      font-size: 14px;
    }
  }

  .main-heading {
    margin: 0.5em auto 0.65em;

    &::after {
      content: '';
      display: block;
      margin: 0.18em auto 0;
      max-width: 350px;

      height: 3px;
      background-color: $green-sea;
    }
  }

  .video {
    display: block;
    margin: 40px auto 0;

    aspect-ratio: 16 / 9;
    max-width: 900px;

    border-radius: 8px;
    overflow: hidden;
  }
}