@import "../../mixins";

.ui-section {
  @include section;
}

.ui-element-group {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 15px;
  padding: 30px 0;

  &__column {
    flex-direction: column;
  }
}

.ui-inverse-block {
  color: $inverse-primary-txt-color;
  background: $inverse-primary-bg-color;
}

.ui-inverse-block--icons {
  display: flex;
  gap: 15px;
  background: $inverse-primary-bg-color;
  padding-left: 5px;
}
