{% macro button(text, options={}) %}
  {%- set size = options.size | default('') %}
  {%- set type = options.type | default('') %}
  {%- set tag = options.tag | default('button') %}
  {%- set attributes = options.attributes or {} %}

  <{{ tag }} class="button
    {% if size %} button--size-{{ size }}{% endif %}
    {% if type %} button--{{ type }}{% endif %}"
    {% if tag == 'a' %}
      href="{{ options.href | default('#') }}"
    {% endif %}
    {% for key, value in attributes %}
      {{ key }}="{{ value }}"
    {% endfor %}
  >
    {{ text }}
  </{{ tag }}>
{% endmacro %}




