<li class="card">
    <div class="card__img-item">
        <img src="/img/general/ui-card-img.jpg"/>
    </div>
    <ul class="card__description">
        <li class="card__description-name">
            Spot
        </li>
        <ul class="card__description-params param-list">
            <li class="param-list__item">
                    Sex
            </li>
            <li class="param-list__item">
                    Age
            </li>
            <li class="param-list__item">
                    Size
            </li>
        </ul>
    </ul>
</li>