{% macro section_header(sub_title="", heading="") %}
 <div class="title">
    <p class="sub-title">
        {{sub_title}}
    </p>
    <h2 class="main-heading">
        {{heading}}
    </h2>
</div>
{% endmacro %}