<section class="about-section">
  <div class="container">
    <div class="about-section__title">
      <h4 class="about-section__sub-title">
        Who Are We!
      </h4>
      <h2 class="about-section__main-heading">
        About the shelter
      </h2>
    </div>
    <p class="about-section__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus maximus convallis iaculis. Maecenas augue justo, mattis at felis quis, molestie fermentum magna. Ut mi ipsum, tempor in molestie ac, sollicitudin at ex. Sed mollis orci sed nulla vehicula, et malesuada diam condimentum. Nullam eu maximus magna. Quisque urna diam, sodales non dolor a, pharetra tempus arcu. Sed mauris lacus, maximus at velit vel, commodo luctus tortor.
    </p>
    <div class="about-section__video">
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/O7TBDSpzgD4" frameborder="0" allowfullscreen>
      </iframe>
    </div>
  </div>
</section>