{% from  "ui/video_container.njk" import video with context %}
{% from  "ui/section_header.njk" import section_header with context %}

<section class="about-section" id="about">
  <div class="container">
    {{ section_header(className="about-section__header", sup_title="Who Are We", title="About the shelter") }}
    <p class="about-section__text">
      We are raising funds to support animal welfare in and around Poti, Georgia. Sadly, this region is severely lacking in animal shelters and rescuers, leaving countless stray animals to fend for themselves in the streets. My husband and I started building the Territory of Good shelter from the ground up after bringing 15 strays from Ukraine. Our ever-growing shelter is supported only by our single income and the generosity of other animal lovers. Donated funds are used to build additional enclosures for our animals, pay for much-needed veterinary care, find forever homes for our animals, and cover the costs of essentials such as food, enrichment toys, and bedding. Every donation helps us improve the quality of life for animals in our community. We strive to save as many strays as we can — especially old, injured, or otherwise high-risk animals. Your donations help us care for animals recovering from abuse, neglect, and illness and give them a second chance at life.
    </p>
    {{ video(src="https://www.youtube.com/embed/O7TBDSpzgD4", title="Meet Irina, owner of Territory of Good animal shelter", className="about-section__video") }}
  </div>
</section>