{% set cards = [
  {
    imgSrc: '/img/animals-section/card-01.jpg',
    name: 'Spot',
    sex: 'Male',
    age: '18 months',
    size: 'Large'
  }, {
    imgSrc: '/img/animals-section/card-02.jpg',
    name: 'Shaggy',
    sex: 'Male',
    age: '8 years',
    size: 'Large'
  }, {
    imgSrc: '/img/animals-section/card-03.jpg',
    name: 'Ulybashka',
    sex: 'Female',
    age: '1 year',
    size: 'Medium'
  }, {
    imgSrc: '/img/animals-section/card-04.jpg',
    name: 'Boy',
    sex: 'Male',
    age: '2 years',
    size: 'Medium'
  }, {
    imgSrc: '/img/animals-section/card-05.jpg',
    name: 'Betty',
    sex: 'Feale',
    age: '2 years',
    size: 'Large'
  }, {
    imgSrc: '/img/animals-section/card-01.jpg',
    name: 'Spot',
    sex: 'Male',
    age: '18 months',
    size: 'Large'
  }, {
    imgSrc: '/img/animals-section/card-03.jpg',
    name: 'Ulybashka',
    sex: 'Female',
    age: '1 year',
    size: 'Medium'
  }, {
    imgSrc: '/img/animals-section/card-02.jpg',
    name: 'Shaggypot',
    sex: 'Male',
    age: '8 years',
    size: 'Large'
  }, {
    imgSrc: '/img/animals-section/card-04.jpg',
    name: 'Boy',
    sex: 'Male',
    age: '2 years',
    size: 'Medium'
  }
] %}

<section class="animals-section">
  <div class="container animals-sectio__container">
    <div class="animals-section__content">
      <h2 class='animals-section__title'>Adopt a Pet</h2>
      <ul class="animals-section__filter-list filter">
        <li class="filter__item">
          <a class="filter__link" href="#">
            All
          </a>
        </li>
        <li class="filter__item">
          <a class="filter__link" href="#">
            Dogs
          </a>
        </li>
        <li class="filter__item">
          <a class="filter__link" href="#">
            Cats
          </a>
        </li>
      </ul>
      <ul class="animals-section__card-list card-list">
        {% for card in cards %}
          <li class="card-list__item card">
            <div class="card__img-item">
              <img src="{{card.imgSrc}}"/>
            </div>
            <ul class="card__description">
              <li class="card__description-name">
                {{card.name}}
              </li>
              <ul class="card__description-params param-list">
                <li class="param-list__item">
                  {{card.sex}}
                </li>
                <li class="param-list__item">
                  {{card.age}}
                </li>
                <li class="param-list__item">
                  {{card.size}}
                </li>
              </ul>
          </ul>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
</section>