<section class="promo-section">
  <div class="container promo-section__container">
    <div class="promo-section__content">
      <h1 class="promo-section__title">
         Stray animals shelter
      </h1>
      <p class="promo-section__subtitle">
        We're helping 53 stray dogs and 2 cats.
      </p>
      <div class="promo-section__btn-list">
        <button class="button promo-section__btn-list-item" type="button">Adopt</button>
        <button class="button button--secondary promo-section__btn-list-item" type="button">Help the shelter</button>
      </div>
    </div>
    <div class="promo-section__accessory">
        <img class="promo-section__accessory-img" src="/img/promo-section/promo-item-01.png" alt="">
    </div>
  </div>
</section>
