@import "./vars";

/* =========================
  Responsive
========================= */

$breakpoint-xsmall: 320px;
$breakpoint-small: 375px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
$breakpoint-extra-large: 1300px;

@mixin for-desktop {
  @media (min-width: $breakpoint-large) {
    @content;
  }
}

@mixin for-tablet {
  @media (min-width: $breakpoint-medium) and (max-width: $breakpoint-large - 0.1px) {
    @content;
  }
}

@mixin for-mobile {
  @media (max-width: $breakpoint-medium - 0.1px) {
    @content;
  }
}

@mixin for-small-mobile {
  @media (max-width: $breakpoint-small - 0.1px) {
    @content;
  }
}

/* =========================
  States
========================= */

@mixin activeHover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  &:active {
    @content;
  }
}

/* =========================
  Layout
========================= */

@mixin section {
  position: relative;
  padding: 130px 0;
}

/* =========================
  Helpers
========================= */

@mixin sidePadding($value) {
  padding-left: $value;
  padding-right: $value;
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin absoluteBackground {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
