@import "../mixins.scss";

.button {
  @include activeHover {
    background-color: $inverse-primary-bg-color;
  }

  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  padding-left: 68px;
  padding-right: 68px;
  border-radius: 4px;
  background-color: $green-sea;
  color: $inverse-primary-txt-color;
  font-family: $primary-font;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: none;
  cursor: pointer;

  &--size-s {
    height: 40px;
    padding-left: 28px;
    padding-right: 28px;
    text-transform: capitalize;
  }

  &--secondary {
    @include activeHover {
      background-color: $green-sea;
    }
    background-color: $inverse-primary-bg-color;
  }
}
