.card {
    cursor: pointer;
    list-style: none;

    @include activeHover {
        & img {
            transform: scale(1.4);
            transition: transform 0.2s linear;
        }
    }

    &__img-item {
        margin-bottom: 15px;
        border-radius: 8px;
        overflow: hidden;

        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            transition: transform 0.2s linear;
        }
    }

    &__description {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &__description-name {
        width: 100%;
        font-weight: 800;
        font-size: 28px;
        line-height: 1.4;

        @include for-mobile {
            font-size: 20px;
        }
    }
}
