@import "../mixins.scss";

.filter {
  display: flex;
  gap: 10px;
  color: $primary-txt-color;

  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__link {
    @include activeHover {
      text-decoration: underline;
      text-decoration-color: rgba(41, 42, 53, 0.15);
    }
  }
}

.filter__circle {
  width: 6px;
  height: 6px;
  background-color: $accent-bg-color;
  border-radius: 50%;
}
