@import "../mixins.scss";

.icon {
  fill: $black;

  &--donate {
    width: 12px;
    height: 12px;
  }

  &--phone {
    width: 28px;
    height: 28px;
  }

  &--pin {
    width: 28px;
    height: 28px;
  }

  &--email {
    width: 28px;
    height: 28px;
  }
}

.accent {
  fill: $accent-txt-color;
}
.inverse {
  fill: $inverse-primary-txt-color;
}
.secondary-inverse {
  fill: $inverse-secondary-txt-color;
}
