@import "../mixins.scss";

.icon {
  fill: $black;

  &--donate {
    @include square(12px);
  }

  &--phone {
    @include square(28px);
  }

  &--pin {
    @include square(28px);
  }

  &--email {
    @include square(28px);
  }
}

.white {
  fill: $white;
}

.semi-white {
  fill: $white;
  fill-opacity: 0.2;
}

.accent {
  fill: $accent-txt-color;
}
.inverse {
  fill: $inverse-primary-txt-color;
}
.secondary-inverse {
  fill: $inverse-secondary-txt-color;
}
