@import "../mixins.scss";

.param-list {
  display: flex;
  gap: 10px;
  color: rgba($primary-txt-color, 50%);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
  text-transform: capitalize;
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;

    &::after {
      content: "";
      width: 4px;
      height: 4px;
      background-color: $accent-bg-color;
      border-radius: 50%;
    }
    &:last-child::after {
      content: none;
    }
  }

  &__link {
    color: rgba($primary-txt-color, 50%);
    text-decoration: none;
  }
}
