@import '../mixins';

/* =========================
  Footer
========================= */

.page-footer {
  background-color: $inverse-primary-bg-color;
  padding: 100px 0;

  &__title {
    @include heading2;
    color: $inverse-primary-txt-color;
    position: relative;

    &::after {
      display: block;
      content: '';
      width: 199px;
      height: 3px;
      background: $accent-bg-color;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  &__wrapper {
    display: flex;
    margin-top: 60px;
  }

  &__pic {
    margin-right: 30px;
    border-radius: $border-radius;
    object-fit: cover;

    @include for-tablet-down {
      display: none;
    }
  }

  &__content {
    color: $inverse-primary-txt-color;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 44px;
  }

  &__text {
    font-size: 1.75em;
    font-weight: 800;
    line-height: 39.2px;
    margin: 0;
  }

  &__contact-list {
    list-style: none;
    margin: 0;

    .contact-row {
      font-size: 1.125em;

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      &__content {
        @include loud;
        text-decoration: none;
        display: block;
        color: $inverse-primary-txt-color;
      }
    }
  }
}
