@import '../mixins';

/* =========================
  Footer
========================= */

.page-footer {
  background-color: $inverse-primary-bg-color;
  padding: 100px 0;

  &__title {
    @include heading2;
    color: $inverse-primary-txt-color;

  }

  &__wrapper {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 60px;

    @include for-mobile {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__pic {
    width: 100%;
    height: 100%;
    border-radius: $border-radius;
    object-fit: cover;
  }

  &__content {
    color: $inverse-primary-txt-color;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 44px;
  }

  &__text {
    font-size: 1.75em;
    font-weight: 800;
    line-height: 39.2px;
    margin: 0;
  }

  &__contact-list {
    list-style: none;
    margin: 0;
  }
}

.contact-row {
  font-size: 1.125em;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &__content {
    @include loud;
    text-decoration: none;
    display: block;
    color: $inverse-primary-txt-color;
  }
}
