@import '../mixins';

/* =========================
  Layout
========================= */

.page {
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 100vh;

  &__header {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 10;
  }

  &__content {
    flex-grow: 1;
  }

  &__footer {
    margin-top: auto;
    height: $desktop-footer-height;
  }
}

/* =========================
  Container
========================= */

.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
