<footer class="page-footer">
  <div class="container">
    <div class="page-footer__in">
        <div class="section-name">
            Contact Us
        </div>
        <div class="page-footer__sideinfo">
            <img
                class="page-footer__pic"
                srcset="
                    https://via.placeholder.com/570x400,
                    https://via.placeholder.com/1140x800 2x
                "
                src="https://via.placeholder.com/570x400"
                alt="footer picture"
            />
          <div class="page-footer__contacts">
              <p class="contacts-title">
                  For any questions regarding the shelter, please write to us. We'd love to hear your feedback at
              </p>

              <div class="contacts-info">
                <div class="contacts-info__item">
                    <i class="icon"></i>
                    <p>+7 987 654 32 10</p>
                    <p>+3 123 456 789</p>
                </div>
                <div class="contacts-info__item">
                    <i class="icon"></i>
                    <p>Georgia, Poti</p>
                </div>
                <div class="contacts-info__item">
                    <i class="icon"></i>
                    <p>info@site.com</p>
                </div>
              </div>
                <button class="button" type="button">Donate</button>
          </div>
        </div>
    </div>
  </div>
</footer>
