<footer class="page-footer">
  <div class="container">
    <div class="page-footer__in">
        <div class="section-name">
            Contact Us
        </div>
        <div class="page-footer__sideinfo">
          <div class="page-footer__contacts">
              <img
                  class="page-footer__pic"
                  src="../../../../thumbnails/footer_pic.jpg"
                  alt="footer picture"
              />
              <p>
                  For any questions regarding the shelter, please write to us. We'd love to hear your feedback at
              </p>
          </div>
        </div>
    </div>
  </div>
</footer>
