{% set header_databag = { shelter_name: "Territory Of Goodness", menu_items: [{ title: "Main", link: "#" }, { title: "Contacts", link: "#contacts" }, { title: "Donations", link: "#donations" }, { title: "Adopted", link: "#adopted" }], button: { text: "Donate", link: "/donate" } } %}
<header class="page-header">
  <div class="page-header__in">
    <p class="logo">{{ header_databag.shelter_name }}</p>

    <ul class="page-menu">
    {% for item in header_databag.menu_items %}
      <li class="page-menu__item">
        <a class="page-menu__link" href="{{ item.link }}">{{ item.title }}</a>
      </li>
      {% endfor %}
      <button class="button button--size-s page-header__donate" type="button">Donate</button>
    </ul>

    <button class="burger">
        <span class="burger__dash"></span>
        <span class="burger__dash"></span>
        <span class="burger__dash"></span>
    </button>
  </div>
  <hr>
</header>
<script>
let burger;

const toggleClass = (hash, className = 'page-menu__link--active') => {
    if (hash) {
        const link = document.querySelector(`a[href="${hash}"]`);

        link && link.classList.toggle(className);
    }
};

const toggleMobileMenu = force => {
    const menu = document.querySelector('.page-menu');

    burger.classList.toggle('burger--opened', force);
    menu.classList.toggle('page-menu--opened', force);
    document.body.classList.toggle('body--menu-opened', force);
};

const init = () => {
    burger = document.querySelector('.burger');

    burger.addEventListener('click', () => toggleMobileMenu());

    addEventListener('hashchange', event => {
        const oldHash = new URL(event.oldURL).hash;
        const newHash = new URL(event.newURL).hash;

        toggleClass(oldHash);

        toggleClass(newHash);

        toggleMobileMenu(false);
    });

    if (location?.hash) {
        toggleClass(location.hash);
    } else {
        const BASEHASH = '#main';

        history.pushState(null, null, BASEHASH);
        toggleClass(BASEHASH);
    }
};

document.addEventListener('DOMContentLoaded', init);
</script>
