<section class="section section--colored">
    <div class="container">
        <header class="section-header">
            <h2 class="section-header__title">Our dogs</h2>
        </header>
        <div class="gallery">
            <div class="gallery__item">
                <img class="gallery__img" src="{{ url_for('static', path='thumbnails/IMG_6856.JPG') }}" alt="">
            </div>
            <div class="gallery__item">
                <img class="gallery__img" src="{{ url_for('static', path='thumbnails/IMG_6919.JPG') }}" alt="">
            </div>
            <div class="gallery__item">
                <img class="gallery__img" src="{{ url_for('static', path='thumbnails/IMG_6963.JPG') }}" alt="">
            </div>
            <div class="gallery__item">
                <img class="gallery__img" src="{{ url_for('static', path='thumbnails/IMG_7041.JPG') }}" alt="">
            </div>
            <div class="gallery__item">
                <img class="gallery__img" src="{{ url_for('static', path='thumbnails/IMG_7116.JPG') }}" alt="">
            </div>
            <div class="gallery__item">
                <img class="gallery__img" src="{{ url_for('static', path='thumbnails/IMG_7201.JPG') }}" alt="">
            </div>
            <div class="gallery__item">
                <img class="gallery__img" src="{{ url_for('static', path='thumbnails/IMG_7236.JPG') }}" alt="">
            </div>
            <div class="gallery__item">
                <img class="gallery__img" src="{{ url_for('static', path='thumbnails/IMG_7340.JPG') }}" alt="">
            </div>
            <div class="gallery__item">
                <img class="gallery__img" src="{{ url_for('static', path='thumbnails/IMG_6869.JPG') }}" alt="">
            </div>
            <div class="gallery__item">
                <img class="gallery__img" src="{{ url_for('static', path='thumbnails/IMG_6923.JPG') }}" alt="">
            </div>
            <div class="gallery__item">
                <img class="gallery__img" src="{{ url_for('static', path='thumbnails/IMG_6968.JPG') }}" alt="">
            </div>
            <div class="gallery__item">
                <img class="gallery__img" src="{{ url_for('static', path='thumbnails/IMG_7057.JPG') }}" alt="">
            </div>
            <div class="gallery__item">
                <img class="gallery__img" src="{{ url_for('static', path='thumbnails/IMG_7133.JPG') }}" alt="">
            </div>
            <div class="gallery__item">
                <img class="gallery__img" src="{{ url_for('static', path='thumbnails/IMG_7218.JPG') }}" alt="">
            </div>
            <div class="gallery__item">
                <img class="gallery__img" src="{{ url_for('static', path='thumbnails/IMG_7260.JPG') }}" alt="">
            </div>
            <div class="gallery__item">
                <img class="gallery__img" src="{{ url_for('static', path='thumbnails/IMG_7368.JPG') }}" alt="">
            </div>
            <div class="gallery__item">
                <img class="gallery__img" src="{{ url_for('static', path='thumbnails/IMG_6896.JPG') }}" alt="">
            </div>
            <div class="gallery__item">
                <img class="gallery__img" src="{{ url_for('static', path='thumbnails/IMG_6932.JPG') }}" alt="">
            </div>
            <div class="gallery__item">
                <img class="gallery__img" src="{{ url_for('static', path='thumbnails/IMG_6970.JPG') }}" alt="">
            </div>
            <div class="gallery__item">
                <img class="gallery__img" src="{{ url_for('static', path='thumbnails/IMG_7073.JPG') }}" alt="">
            </div>
            <div class="gallery__item">
                <img class="gallery__img" src="{{ url_for('static', path='thumbnails/IMG_7143.JPG') }}" alt="">
            </div>
            <div class="gallery__item">
                <img class="gallery__img" src="{{ url_for('static', path='thumbnails/IMG_7221.JPG') }}" alt="">
            </div>
            <div class="gallery__item">
                <img class="gallery__img" src="{{ url_for('static', path='thumbnails/IMG_7268.JPG') }}" alt="">
            </div>
            <div class="gallery__item">
                <img class="gallery__img" src="{{ url_for('static', path='thumbnails/IMG_7387.JPG') }}" alt="">
            </div>
            <div class="gallery__item">
                <img class="gallery__img" src="{{ url_for('static', path='thumbnails/IMG_6904.JPG') }}" alt="">
            </div>
            <div class="gallery__item">
                <img class="gallery__img" src="{{ url_for('static', path='thumbnails/IMG_6947.JPG') }}" alt="">
            </div>
            <div class="gallery__item">
                <img class="gallery__img" src="{{ url_for('static', path='thumbnails/IMG_7081.JPG') }}" alt="">
            </div>
            <div class="gallery__item">
                <img class="gallery__img" src="{{ url_for('static', path='thumbnails/IMG_7160.JPG') }}" alt="">
            </div>
            <div class="gallery__item">
                <img class="gallery__img" src="{{ url_for('static', path='thumbnails/IMG_7222.JPG') }}" alt="">
            </div>
            <div class="gallery__item">
                <img class="gallery__img" src="{{ url_for('static', path='thumbnails/IMG_7306.JPG') }}" alt="">
            </div>
            <div class="gallery__item">
                <img class="gallery__img" src="{{ url_for('static', path='thumbnails/IMG_7395.JPG') }}" alt="">
            </div>
            <div class="gallery__item">
                <img class="gallery__img" src="{{ url_for('static', path='thumbnails/IMG_6910.JPG') }}" alt="">
            </div>
            <div class="gallery__item">
                <img class="gallery__img" src="{{ url_for('static', path='thumbnails/IMG_6950.JPG') }}" alt="">
            </div>
            <div class="gallery__item">
                <img class="gallery__img" src="{{ url_for('static', path='thumbnails/IMG_7000.JPG') }}" alt="">
            </div>
            <div class="gallery__item">
                <img class="gallery__img" src="{{ url_for('static', path='thumbnails/IMG_7094.JPG') }}" alt="">
            </div>
            <div class="gallery__item">
                <img class="gallery__img" src="{{ url_for('static', path='thumbnails/IMG_7179.JPG') }}" alt="">
            </div>
            <div class="gallery__item">
                <img class="gallery__img" src="{{ url_for('static', path='thumbnails/IMG_7229.JPG') }}" alt="">
            </div>
            <div class="gallery__item">
                <img class="gallery__img" src="{{ url_for('static', path='thumbnails/IMG_7312.JPG') }}" alt="">
            </div>
            <div class="gallery__item">
                <img class="gallery__img" src="{{ url_for('static', path='thumbnails/IMG_6913.JPG') }}" alt="">
            </div>
            <div class="gallery__item">
                <img class="gallery__img" src="{{ url_for('static', path='thumbnails/IMG_6957.JPG') }}" alt="">
            </div>
            <div class="gallery__item">
                <img class="gallery__img" src="{{ url_for('static', path='thumbnails/IMG_7010.JPG') }}" alt="">
            </div>
            <div class="gallery__item">
                <img class="gallery__img" src="{{ url_for('static', path='thumbnails/IMG_7109.JPG') }}" alt="">
            </div>
            <div class="gallery__item">
                <img class="gallery__img" src="{{ url_for('static', path='thumbnails/IMG_7190.JPG') }}" alt="">
            </div>
            <div class="gallery__item">
                <img class="gallery__img" src="{{ url_for('static', path='thumbnails/IMG_7233.JPG') }}" alt="">
            </div>
            <div class="gallery__item">
                <img class="gallery__img" src="{{ url_for('static', path='thumbnails/IMG_1111.JPG') }}" alt="">
            </div>
            <div class="gallery__item">
                <img class="gallery__img" src="{{ url_for('static', path='thumbnails/IMG_1112.JPG') }}" alt="">
            </div>

            <div class="gallery__item">
                <img class="gallery__img" src="{{ url_for('static', path='thumbnails/IMG_7323.JPG') }}" alt="">
            </div>
        </div>
    </div>
</section><!--.section-->