<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="{{ url_for('static', path='/normalize.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
        {% include "general/init_hotjar.html" %}
	  </head>
    <body>
        <div class="page">
            <div class="page__header">
                {% include "general/header.html" %}
            </div>
            <div class="page__content">
                {% block body %}{% endblock %}
            </div>
            <div class="page__footer">
                {% include "general/footer.html" with context %}
            </div>
        </div>
    </body>
</html>
