{% from "ui/icon.html" import icon with context %}

{% from "ui/buttons.html" import button %}
{% from  "ui/section_header.html" import section_header with context %}

{% set footer_databag = {
  'international_number': '+7 995 557 36 66 74',
  'international_number_href': '+7995557366674',
  'location': 'Georgia, Poti',
  'email': 'vitaly.sharovatov@gmail.com',
  'donate_email': 'https://gogetfunding.com/the-territory-of-good-shelter/',
  'funding_company': 'GoGetFunding campaing'
} %}


<footer class="page-footer" id="contact-us">
  <div class="container">
    <div class="page-footer__in">
        {{ section_header(className="page-footer__title", title="Contact Us", align_prop_title='right') }}
        <div class="page-footer__wrapper">
          <img
            class="page-footer__pic"
            src="/static/img/upload/shelter.jpg"
            alt="shelter The territory of good"
          />
            <div class="page-footer__content">
              <p class="page-footer__text">
                  For any questions regarding the shelter, please write to us. We'd love to hear your feedback at
              </p>

              <ul class="page-footer__contact-list">
                <li class="contact-row">
                  {{ icon(type='phone', color='secondary-inverse', size='m', className="contact-row__icon")}}
                  <div class="contact-row__content">
                    <a class="contact-row__link" href=" {{ 'tel:' ~ footer_databag.international_number_href }}">
                      {{ footer_databag.international_number }}
                    </a>
                  </div>
                </li>

                <li class="contact-row">
                  {{ icon(type='pin', color='secondary-inverse', size='m', className="contact-row__icon")}}
                  <div class="contact-row__content">{{ footer_databag.location }}</div>
                </li>

                <li class="contact-row">
                  {{ icon(type='email', color='secondary-inverse', size='m', className='contact-row__icon')}}
                  <div class="contact-row__content">
                    <a class="contact-row__link" href="{{ 'mailto:' ~ footer_databag.email }}">
                      {{ footer_databag.email }}
                    </a>
                  </div>
                </li>
                <li class="contact-row">
                  {{ icon(type='email', color='secondary-inverse', size='m', className='contact-row__icon')}}
                  <div class="contact-row__content"> To donate, please visit our
                    <a class="contact-row__link" href="{{ footer_databag.donate_email }}">
                      {{ footer_databag.funding_company }}
                    </a>
                  </div>
                </li>
              </ul>
          </div>
        </div>
    </div>
  </div>
</footer>
