
{% from "ui/icon.html" import icon with context %}

{% from "ui/buttons.html" import button %}

{% set header_databag = { 'shelter_name': "The territory of good", 'menu_items':
[{ 'title': "Main", 'link': "#" }, { 'title': "Contacts", 'link': "#contacts" },
{ 'title': "Donations", 'link': "#donations" }, { 'title': "Adopted", 'link':
"#adopted" }] } %}
<header class="page-header">
  <div class="page-header__in">
    <p class="page-header__logo">{{ header_databag.shelter_name }}</p>

    <ul class="page-menu">
      {% for item in header_databag.menu_items %}
      <li class="page-menu__item">
        <a class="page-menu__link" href="{{ item.link }}">{{ item.title }}</a>
      </li>
      {% endfor %}

      {{ button("Donate", { "size": "s", "icon": 'donate' }) }}

    </ul>

    <button class="burger">
      <span class="burger__dash"></span>
      <span class="burger__dash"></span>
      <span class="burger__dash"></span>
    </button>
  </div>
</header>
<script>
const toggle_mobile_menu = (burger, force) => {
    const menu = document.querySelector('.page-menu');

    burger.classList.toggle('burger--opened', force);
    menu.classList.toggle('page-menu--opened', force);
    document.body.classList.toggle('body-menu-opened', force);
};

const init = () => {
    const burger = document.querySelector('.burger');

    burger.addEventListener('click', () => toggle_mobile_menu(burger));

    const menu_items = document.querySelectorAll('.page-menu a');
    menu_items.forEach(item => {
        item.addEventListener('click', () => toggle_mobile_menu(burger, false));
    });
};

document.addEventListener('DOMContentLoaded', init);
</script>
